body {
	font-family: Segoe UI;
	font-size: 12pt;
	color: #00008b;
	margin: 0px;
	padding: 0px;
    text-align: center;
    color: black;
    height: 100%;
    background-color: white;
}

h1
{
    background-color: black;
    color: white;
    padding: 20px;
       padding-bottom: -20px;
          margin-left: 5%;
    margin-right: 5%;
}
div.scrollmenu {
  background-color: #08476B;
  overflow: auto;
  white-space: nowrap;
}
div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
.table
{
    border: 10px;
}
table,th,td
{
    color: black;
    font-style: bold;
    margin-left: 1.5%;
    text-align: center;
    border: 1px solid black;
    border-width: 3px;
    border-color: black;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    width: 25%;
}